  
:root {
  --primary-color: black;
  --secondary-color: lightblue;
  --tertiary-color: slategrey;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  /* Header/ Nav Section Start */


  header {
    padding: 20px 40px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    background-position: 50%;
    background-attachment: fixed;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 300px;
  }
  
  header a {
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: absolute;
    right: 100px;
    padding: 10px 15px;
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 150x;
    padding: 10px 10px;
  }
  
  
  /* Header section ends */
  
  /* Styling for ALL Sections */
  

 
  
  /* All section styling ends */







  /* Hero Styling Start */

  .hero {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 225px;
  }

  .hero-text {
    background-color: var(--secondary-color);
    position: absolute;
    right: 30px;
    top: 225px;

  }
  

  /* Hero styling End */
  
  





  /* Section title style */
  .section-title {
    font-weight: bold;
    font-size: 35px;
    border-radius: 1px;
    width: 170px;
    border-bottom: 5px solid black;
   
  }



  /* Section title end */
  
  section {
    padding: 35px;
  }



  /* About Me section styles */

  #about-me {
    height: 350px;
    padding: 0 50px;
    background-color: var(--tertiary-color);
  }

  .hero-text p {
    text-align: center;
    margin: 0;
  }

 
  
  
  
  /* About Me section ends */
  
  



  /* My Work section styles */
  #my-work {
    background-color: var(--tertiary-color)
  }






  
  /* my Work section ends */
  



  /* Contact Me section styles */

  
  /* Contact Me section ends */




   
  /* Footer Section */

  

  /* End Footer Section */


  

  
  /* UTILITIES */
  
  
  






