  
body {
    color: solid #024e12;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  
  /* Header/ Nav Section Start */
  
  
  /* Header section ends */
  




  /* Styling for ALL Sections */

  section {
    display: flex;
    flex-wrap: wrap;

  }
  
  /* All section styling ends */







  /* Hero Styling Start */



  /* Hero styling End */
  
  





  /* Section title style */



  /* Section title end */
  




  /* About Me section styles */
  
  
  
  /* About Me section ends */
  
  



  /* My Work section styles */
 
  
  /* my Work section ends */
  



  /* Contact Me section styles */

  
  /* Contact Me section ends */




   
  /* Footer Section */

  

  /* End Footer Section */


  

  
  /* UTILITIES */
  
  
  






